body {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: var(--maincolor);
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

/* Анимация появления блоков при скролле */
.scroll-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scroll-animate.in-view {
  opacity: 1;
  transform: translateY(0);
}