:root {
  --maincolor: #fff6e9;
  --accentred: #7a1f30;
  --secondarycolor: #092c48;
  --accentgreen: #ccdb9d;
}

:root {
  --font-family: "Gilroy", sans-serif;
  --second-family: "NauryzRedKeds", sans-serif;
  --third-family: "Vasek", sans-serif;
}